.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;

    .title {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .card-row {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .select {
        padding: 5px;
        font-size: 1em;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .input {
        padding: 10px;
        font-size: 1.2em;
        width: 200px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1.2em;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &.btn-create {
            background-color: #2196f3;
        }

        &.btn-visit {
            background-color: #4caf50;
        }
    }

    .error {
        color: red;
    }
}
